/* inventory landing page */
.container {
  position: relative;
}
/* Bottom right text */
.errorMessage {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: 15%;
  background-color: white;
  color: black;
  transform:rotate(45deg);
  text-align: center;
  height: 250px;
  width: 250px;
}
.errorText {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 130%;
    margin-top: 32%;
    margin-right: 10%;
    transform: rotate(-45deg);
}
.loginlink {
    text-decoration: none;
    color: black;
}
.loginlink:hover {
    color: #1DC7E9
}

/* flipcard styling */
.flipCard {
    margin-bottom: 15px;
}
.frontCard {
    background-color: white;
}
.backCard {
    background-color: white;
    max-height: 140px;
    margin-bottom: 15px;
}
.controlTable, .reagentTable, .consumableTable, .calibratorTable {
    min-height: 150px;
}

.inventoryHeader {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: black;
}

.invTitle {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #1DC7E9;
}

#controls, #calibrators, #reagents, #consumables h4 {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: black;
}

.invButton {
    background-color: white;
    color: black;
    border: 1px solid #1DC7E9;
}

@media only screen and (max-width: 768px) {
    .flipCard {
        margin-bottom: 20px;
    }
}
