.container {
  position: relative;
}
/* Bottom right text */
#loginForm, #signupForm {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: 15%;
  background-color: white;
  color: black;
  text-align: center;
  height: 350px;
  width: 350px;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.formcontent {
    margin-top: 5%;
}
.loginform, .signupform {
    margin: 5% auto;
    width: 80%;
}

.loginLink, .signuplink {
    background-color: #1DC7E9 !important;
    border: none !important;
}
.form-label {
    margin-bottom: 0px !important;
}
.signup-link, .login-link {
    text-decoration: none;
    color: white;
}